@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@100;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}

body{
    background-color: hsl(30, 38%, 92%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.contenedor_tarjeta{
    /* height: 100; */
    background-color: hsl(30, 38%, 92%);
    display: flex;
    justify-content: center;
    align-items: center;


}


.tarjeta{
    /* border:2px red solid; */
    width: 375px;
    /* width: 90%; */
    /* max-width: 375px; */
    /* margin-top: 20px; */
    background-color: white;
    border-radius: 8px;

}

.tarjeta__imagen{
    width: 100%;
    border-radius: 8px 8px 0px 0px;
}

.tarjeta__imagen--desktop{
    display: none;
}


.contenedor_texto{
    margin: 20px;
}


.tarjeta__catergoria{
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8rem;
    color: hsl(228, 12%, 48%);
    letter-spacing: 5px;
}

.tarjeta__nombre{
    font-family: 'Fraunces';
    font-size: 2.1rem;
    margin-top: 8px;
    line-height: 35px;
    color: hsl(212, 21%, 14%);
}


.tarjeta__descripcion{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: hsl(228, 12%, 48%);
    line-height: 25px;
    width: 87%;
    margin: 15px 0px 10px 0px;


}




.tarjeta__precio{
    font-family: 'Fraunces';
    font-size: 33px;
    /* color: hsl(158, 36%, 37%); */
    color: hsl(158, 36%, 37%);
    margin-top: 10px;
    margin-bottom: 10px;
}

.tarjeta__precio--descuento{
    font-family: 'Montserrat', sans-serif;
    font-size: 0.7rem;
    color: hsl(228, 12%, 48%);
    margin-left: 10px;
    vertical-align:6px;
    text-decoration: line-through;
}

.tarjeta__boton{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    display:block;
    color: white;
    width: 100%;
    padding-top: 17px;
    padding-bottom: 17px;
    background-color: hsl(158, 36%, 37%);
    border-radius: 8px;
    margin: 15px 0px 25px 0px;
}


.icono{
    width: 12px;
    height: 12px;
    margin-right: 5px;
}



/* MEDIA QUERY DESKTOP */


@media (min-width: 1440px) {
    .tarjeta {
        width: 630px;
        display: flex;
        flex-wrap: nowrap;
    }

    .tarjeta__imagen{
        max-width: 50%;
        min-width: 50%;
    }


    .tarjeta__imagen--mobile{
        display: none;
    }

    .tarjeta__imagen--desktop{
        display:inline-block;
        border-radius: 8px 0px 0px 8px;
    }

    .contenedor_texto{
        /* max-width: 50%; */
        padding: 30px 30px 5px 30px;
        margin: 0;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: space-around;
        border-radius: 0px 8px 8px 0px;
    }

    .tarjeta__catergoria{
        margin:0;
    }

    .tarjeta__nombre{
        width: 80%;
        margin-bottom: 0px;
    }

    .tarjeta__descripcion{
        text-align: left;
        width: 90%;
        /* margin-top: 0; */
    }


}